



 
 body {
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: azure;
  font-size: larger;
  text-align: center;
}
 



 /* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

html, 
body,
#root,
.app {
  font-family: "Rubik", sans-serif;
  margin: 0;
  background-color: #0A0A0A;
} */